@model ContosoTravel.Web.Application.Models.CartModel

@{
    ViewData["HidePurchase"] = "true";
    ViewData["Title"] = $"Cart";
}


<h1>Cart Total: @string.Format("{0:c}", Model.TotalCost)</h1>

@Html.DisplayFor(m => Model)

<form action="/Cart/purchase" class="form-inline" method="post">
    <input type="hidden" name="PurchasedOn" value="@DateTimeOffset.UtcNow" />
    <input type="submit" value="Purchase" class="btn btn-success" />
</form>
